.apps {
    position: relative;
    background-color: var(--primary-background);
    font-size: 16px;
    padding: 30px 45px;
    padding-bottom: 60px;
    margin-bottom: 20px;
    border-radius: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.apps img {
    width: 64px;
}
.apps h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
}
.apps p.price {
    position: relative;
    font-size: 2.8em;
    color: var(--font-color-main);
    font-weight: 600;
    display: inline-block;
}

.apps p.price::before {
    content: '$';
    position: absolute;
    font-size: 0.7em;
    color: #222;
    font-weight: 700;
    bottom: 0.1em;
    transform: translateX(-100%);
}
.apps li {
    list-style: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding: 20px 0;
    font-size: 14px;
}
.apps li:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

@media (min-width: 576px) {
    .apps img {
        width: 80px;
    }
    .apps p.price {
        font-size: 3.5em;
    }
}
@media (min-width: 768px) {
    .apps .btn {
        position: absolute;
        bottom: 0;
        margin: 0;
        transform: translate(-50%, 50%);
    }
    .apps p.price {
        font-size: 2.6em;
    }
}
@media (min-width: 992px) {
    .row.apps-cols .apps {
        width: 320px !important;
    }
}
@media (min-width: 1200px) {
    .row.apps-cols .apps {
        width: 350px !important;
    }
}
