.apps {
    position: relative;
    background-color: var(--primary-background);
    font-size: 16px;
    padding: 30px 50px;
    margin-bottom: 20px;
    border-radius: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.apps img {
    width: 64px;
}
.apps h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
}
.apps li {
    list-style: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    padding: 15px;
}
/* .apps .btn {
    position: absolute;
    margin: 0;
    transform: translateX(-50%);
} */

@media (min-width: 576px) {
    .apps img {
        width: 80px;
    }
}
@media (min-width: 768px) {
    .apps .btn {
        position: absolute;
        margin: 0;
        transform: translateX(-50%);
    }
}
