.counter-section {
}
.counter-section > .row {
    background-color: aquamarine;
}

.counter-section > .row > .counter-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    padding-top: 20px;
}
