.counter-section {
}
.counter-section > .row {
    position: relative;
}

.counter-section > .row > .counter-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    position: relative;
}

.counter-section .counter-item .counter-title {
    background: linear-gradient(#8731e8, #4528dc);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.5em;
    text-transform: uppercase;
}

.counter-section .counter-item > .counter-description {
    font-size: 12px;
    font-weight: 700;
}
