.experts-gallery {
    display: grid;
}

.experts-gallery > .content {
    display: grid;
    gap: 30px;
}
.experts-gallery > .content > .card {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 95px;
    overflow: hidden;
    position: relative;
}

.experts-gallery .card > .visual {
    width: 100%;
    position: relative;
}

.experts-gallery .visual > .img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 0.5s;
}

.experts-gallery .card:hover .img {
    transform: scale(1.2);
}

.experts-gallery .visual > .hover-layer {
    /*display: none;*/
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 95px;
    background: rgba(124, 79, 224, 0.9);
    transform: scale(0);
    transition: all 0.5s;
}
.experts-gallery .card:hover .hover-layer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: scale(1);
}

.card:hover .hover-layer > .socials {
    flex-direction: row;
}

.hover-layer > p,
.hover-layer > .socials .icon {
    color: #fff;
    text-decoration: none;
    line-height: 1.6;
    font-weight: 600;
    text-align: center;
}

.hover-layer > .expert-name {
    font-size: 18px;
}

.hover-layer > .expert-position {
    font-size: 15px;
}

.hover-layer > .socials {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 45%;
    justify-content: space-between;
    transform: scale(1);
    transition: transform 0.5s;
}

.hover-layer > .socials > a:hover {
    transform: scale(1.2);
}

@media (min-width: 576px) {
    .experts-gallery > .content {
        grid-template-columns: 1fr 1fr;
    }
    .experts-gallery > .content > .card {
        width: 90%;
    }
    .hover-layer > p,
    .hover-layer > .socials .icon {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .experts-gallery > .content {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 992px) {
    .experts-gallery > .content {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .experts-gallery > .content > .card {
        width: 100%;
    }
}
