.navbar > #mobile-nav {
    padding-top: 50px;
    position: fixed;
    background-color: var(--primary-background);
    top: 0;
    right: 0;
    bottom: 0;
    width: 320px;
    display: flex;
    flex-direction: column;
    z-index: 2;
}
.navbar > #mobile-nav::after {
    content: '';
    position: fixed;
    background-color: rgba(255, 255, 255, 0.95);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -5;
}

.navbar > #mobile-nav .dropdown-item {
    display: none;
}
#mobile-nav .close {
    position: fixed;
    right: 0;
    top: 0;
    padding: 5px;
}

#mobile-nav * {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.75);
}
#mobile-nav .nav-item {
    padding: 15px;
    font-size: 14px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#mobile-nav .close a {
    font-size: 20px;
}

/* 
.clicked .nav-item:hover .dropdown-item {
    display: none;
}
 */
@media (min-width: 992px) {
    #mobile-nav {
        display: none !important;
    }
}
