.navbar > .nav-bar-main.clicked {
    position: fixed;
    background-color: var(--primary-background);

    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}
.navbar > .nav-bar-main.clicked * {
    color: black !important;
}
