/* IMPORT CSS FILES: */

/* base:  */
@import '../basic/base.css';
@import '../basic/layout.css';

/* 3rs-party:  */
@import '../3rd-party/font-awesome.min.css';

/* components (by alphabet):  */
@import '../components/button.css';
@import '../components/app-plan.css';
@import '../components/featured-box.css';
/* footer.css */
@import '../components/form.css';
/* header.css */
@import '../components/header-underline.css';
@import '../components/review.css';
/* icons.css */
@import '../components/icons.css';

/* CUSTOM  */
/* PASTABA: gali kartotis ir custom aprasai, geriau ju nekonfliktinti */

/* header NAV start */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.navbar > .nav-bar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.navbar > .nav-bar-logo > a {
    cursor: pointer;
}
.navbar > .nav-bar-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}
.navbar > .nav-bar-main a {
    margin: 0 22px;
    cursor: pointer;
    color: var(--primary-background);
    text-decoration: none;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 14px;
}
.navbar > .nav-bar-main a:hover {
    color: #d3d3d3;
}
.navbar > .nav-bar-main > .nav-item {
    float: left;
    overflow: hidden;
}
.navbar > .nav-bar-main .dropdown-item {
    display: none;
    position: absolute;
    top: 40px;
    background-color: var(--primary-background);
    border: 2px solid var(--primary-background);
    border-radius: 5px;
    min-width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    font-size: 0.8125rem;
    font-weight: 700;
    color: #2c2e30;
    z-index: 1;
}
.navbar > .nav-bar-main .dropdown-item::before {
    content: '';
    position: absolute;
    top: -12px;
    right: auto;
    bottom: auto;
    left: 10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--primary-background);
}
.nav-item .dropdown-item .dropdown-link {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.nav-item .dropdown-item:nth-child(3) .dropdown-link:last-child {
    color: #6c757d;
}
.dropdown-link a:hover {
    background-color: --secondary-background;
}
.fa {
    padding: 3px 3px;
}
.navbar > .nav-bar-main .nav-link {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.navbar a:hover,
.nav-link:hover .nav-link {
    color: var(--primary-background);
}

.nav-link a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.nav-item:hover .dropdown-item {
    display: block;
}
.nav-item > .dropdown-item a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 2px;
}

/* nav bar hamburger */
.navbar-toggler {
    border: none;
    border-radius: 0;
    background: none;
    z-index: 1;
}
.navbar-toggler > span {
    display: block;
    width: 33px;
    height: 3px;
    margin-bottom: 7px;
    background: var(--primary-background);
    z-index: 1;
}
.navbar-toggler > input {
    display: block;
    width: 33px;
    height: 30px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

/* header NAV end */

/* hero start */

.container.hero {
    padding-top: 0;
    min-height: 100vh;
    background-image: linear-gradient(
            -47deg,
            rgba(135, 49, 232, 0.92) 0%,
            rgba(69, 40, 220, 0.92) 100%
        ),
        url(../../img/hero/blog-4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container > .row.hero {
    display: flex;
    flex-direction: column;
    margin-top: 2.5em;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.main-title {
    font-size: 1.8em;
    line-height: 1.2;
    color: var(--primary-background);
}

.description-left {
    color: var(--primary-background);
    line-height: 1.6;
}

.container > .row.hero > .box-container {
    margin: 0 auto;
}

.box-container > .box-form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 15px 50px 50px 50px;
    border-radius: 4px;
    background-color: var(--primary-background);
    gap: 20px;
}

.box-form > .section-title {
    text-align: center;
    font-size: 28px;
}

.box-form > .description-right-1 {
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    color: var(--font-color-fith);
}

.box-form > form {
    width: 100%;
}

.box-form > .description-right-2 {
    font-size: 13px;
    text-align: center;
}

.box-form > h3 > span {
    text-transform: uppercase;
}

@media (min-width: 576px) {
    .main-title {
        font-size: 2.5em;
    }
    .btn-hero {
        width: 205px;
        padding: 14px;
    }
}

@media (min-width: 992px) {
    .main-title {
        font-size: 3.6em;
    }
    .text-container {
        margin-top: 7em;
    }
    .container > .row.hero {
        flex-direction: row;
        margin-top: 5em;
    }
}

/* hero end */

/* Express Functionality start */
.express-section {
    color: var(--primary-background);
}

.express-section h2 {
    font-size: 1.5rem;
    color: var(--font-color-main);
}

.inactive-btn {
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 3px;
    margin: 0 0 0 15px;
    padding: 10px 164px 10px 31px;
    border-radius: 25px 25px;
    box-shadow: 1px 5px 5px #0003;
    align-items: center;
}

.inactive-btn i {
    color: var(--main-color);
    margin: 0 4px 0 0;
    font-weight: 500;
}
.inactive-btn .bword-1 {
    color: var(--main-color);
    font-weight: 500;
}

.inactive-btn .bword-2 {
    color: var(--font-color-main);
    font-weight: 500;
}
@media (min-width: 576px) {
    .express-section h2 {
        font-size: 1.9rem;
    }
}

@media (min-width: 768px) {
    .express-section h2 {
        font-size: 2.25rem;
    }
}
@media (min-width: 992px) {
    .express-section h2 {
        font-size: 2.5rem;
    }
}
/* Express Functionality end */

/* Easily communicate start */
.cell {
    max-width: 100%;
}
.container.communicate > .row > .column-right > ul {
    list-style: none;
    font-size: 14px;
    line-height: 1.5;
    color: var(--font-color-secondary);
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container.communicate > .row > .column-right > .icons {
    display: flex;
    flex-direction: row;
}
.container.communicate > .row > .column-right {
    display: flex;
    gap: 25px;
    flex-direction: column;
}
.container.container.communicate > .row > .column-right > ul {
    margin-left: 15px;
}
.container.container.communicate > .row > .column-right > ul li:before {
    font-family: 'FontAwesome';
    content: '\f00c';
    margin: 0 5px 0 -15px;
    color: var(--main-color);
}
.container.communicate > .row > .column-right > h2 {
    font-size: 40px;
    line-height: 1.3em;
}
/* Easily communicate end */

/* Make Your Device start */
/* .manage-section {
    color: var(--primary-background);
} */

.manage-device-image {
    display: flex;
    justify-content: center;
}
.manage-device-image > img {
    object-fit: contain;
}

.manage-section-list {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}
.icon-text {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    margin-bottom: 10px;
}

.icon-text > .manage-icon {
    padding: 8px 24px;
    display: flex;
    height: 54px;
    width: 54px;
    font-size: 23px;
    text-align: center;
    justify-content: center;
    margin-right: 16px;
    color: var(--main-color);
    background-color: var(--primary-background);
    border: 0.1px solid rgba(0, 0, 0, 0.11);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.11);
    border-radius: 5%;
    align-items: center;
    text-decoration: none;
}

@media (min-width: 576px) {
    .manage-section h2 {
        font-size: 1.9rem;
        line-height: 1.4;
    }
}
@media (min-width: 768px) {
    .manage-section h2 {
        font-size: 2.25rem;
        line-height: 1.3;
    }
}
@media (min-width: 992px) {
    .manage-section h2 {
        font-size: 2.5rem;
        line-height: 1.3;
    }
}

@media (max-width: 992px) {
    .manage-device-image {
        display: none;
    }
}
/* Make Your Device end */

/* How sApp works start */
.app-work-section {
    background: linear-gradient(
        -50deg,
        var(--gradient-1) 0%,
        var(--gradient-2) 100%
    );
    display: flex;
    flex-direction: column;
    text-align: center;
}

.app-work-section .section-title {
    margin-top: 1em;
    margin-bottom: 1em;
}
.app-work-section .row:first-child {
    display: flex;
    justify-content: center;
}
.app-work-section * {
    color: var(--primary-background);
}

.app-work-section .work {
    position: relative;
    padding: 1.5em;
}
.app-work-section .icon {
    width: 64px;
}
@media (min-width: 768px) {
    .app-work-section .work::after {
        content: '>';
        font-weight: 500;
        position: absolute;
        color: var(--primary-background);
        font-size: 60px;
        bottom: 50%;
        right: 0;
        transform: translate(100%, 50%);
        transition: 0.2s;
    }
    .app-work-section .work:hover::after {
        transform: translate(120%, 50%);
    }
    .app-work-section .work:last-child:after {
        display: none;
    }
}

/* How sApp works end */

/* Simple & Beautiful start */
/* Simple & Beautiful end */

/* Reviews start */
/* Reviews end */

/* Full Power start */
.price-section {
    background-color: var(--secondary-background);
    min-height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.price-section .row {
    display: flex;
    align-items: center;
    justify-content: center;
}
.price-section,
.price-section .row:first-child {
    flex-direction: column;
}
.price-section .row:first-child {
    margin-bottom: 20px;
}

.price-section h2 {
    color: var(--font-color-main);
}
.price-section * {
    text-align: center;
}

.price-section .apps-cols {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.price-section p {
    margin-top: 10px;
}
.price-section p.contact {
    margin-top: 2rem;
}
.price-section p.contact,
.price-section .contact a {
    color: #212529;
    font-weight: 500;
}

@media (min-width: 768px) {
    .price-section .apps-cols {
        flex-direction: row;
    }
    .price-section .row:first-child {
        margin-bottom: 50px;
    }
}

/* Full Power end */

/* FAQ start */

.faq-section .secondary-title > .section-title {
    text-align: center;
    text-transform: capitalize;
}

.faq-section > .row > p {
    margin-top: 10px;
    text-align: center;
}

/* FAQ end */

/* Team Experts start */
/* Team Experts end */

/* sApp is available start */
.download-section,
.download-section .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.download-section * {
    color: var(--primary-background);
}
.download-section {
    min-height: 500px;
    background-image: linear-gradient(
            0deg,
            rgba(16, 16, 45, 0.8),
            rgba(16, 16, 45, 0.8)
        ),
        url(../../img/download-bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.download-section .row.download {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.download-section img {
    max-width: 190px;
    padding: 0 10px;
}
/* sApp is available end */

/* Subscribe to get updates start */
/* Subscribe to get updates end */

/* Stay Tuned start */
/* Stay Tuned end */

/* footer start */
/* footer end */
