/* IMPORT CSS FILES: */

/* base:  */
@import '../basic/base.css';
@import '../basic/layout.css';

/* 3rs-party:  */
@import '../3rd-party/font-awesome.min.css';

/* components (by alphabet):  */
@import '../components/button.css';
@import '../components/app-plan.css';
/* footer.css */
@import '../components/form.css';
/* header.css */
@import '../components/header-underline.css';

/* CUSTOM  */
/* PASTABA: gali kartotis ir custom aprasai, geriau ju nekonfliktinti */

/* header NAV start */
/* header NAV end */

/* hero start */
/* hero end */

/* Express Functionality start */
.express-section {
    color: var(--primary-background);
    padding: 60px 0;
}

.container > .row > .inactive-btn > .bword-1 {
    color: var(--main-color);
    font-weight: 500;
}

.container > .row > .inactive-btn > .bword-2 {
    color: var(--font-color-main);
    font-weight: 500;
}

.container > .p > .express {
    margin-top: -5px;
    margin-bottom: 30px;
}

.container > .row > .inactive-btn {
    font-size: 14px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    gap: 3px;
    margin: 0;
    padding: 10px 164px 10px 31px;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.08);
    align-items: center;
}

.container > .row > .box {
    padding: 39px;
    display: flex;
    text-align: center;
    border-radius: 20px;
    margin: 25px 25px 0 0;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-background);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.icon {
    width: 20%;
    margin: 16px;
}

.container > .row > .box:hover {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
    transform: translateY(-10px);
}
/* Express Functionality end */

/* Easily communicate start */
/* Easily communicate end */

/* Make Your Device start */
/* Make Your Device end */

/* How sApp works start */
/* How sApp works end */

/* Simple & Beautiful start */
/* Simple & Beautiful end */

/* Reviews start */
/* Reviews end */

/* Full Power start */
.price-section {
    background-color: var(--secondary-background);
}
.container.price-section,
.price-section .text-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.price-section .text-description {
    max-width: 35%;
    text-align: center;
}
.price-section h2 {
    text-align: center;
}

@media (max-width: 1200px) {
    .price-section h2 {
        font-size: 36px;
    }
}

@media (min-width: 576px) {
    .price-section h2 {
        font-size: 30px;
    }
}
@media (max-width: 576px) {
    .price-section h2 {
        font-size: 24px;
    }
    .container.price-section .text-description {
        min-width: 100%;
    }
}
/* Full Power end */

/* FAQ start */
/* FAQ end */

/* Team Experts start */
/* Team Experts end */

/* sApp is available start */
/* sApp is available end */

/* Subscribe to get updates start */
/* Subscribe to get updates end */

/* Stay Tuned start */
/* Stay Tuned end */

/* footer start */
/* footer end */
