/* IMPORT CSS FILES: */

/* base:  */
@import '../basic/base.css';
@import '../basic/layout.css';

/* 3rs-party:  */
@import '../3rd-party/font-awesome.min.css';

/* components (by alphabet):  */
/* button.css */
/* footer.css */
/* form.css */
/* header.css */
@import '../components/header-underline.css'; /* CUSTOM  */
/* PASTABA: gali kartotis ir custom aprasai, geriau ju nekonfliktinti */

/* header NAV start */
/* header NAV end */

/* hero start */
/* hero end */

/* Express Functionality start */
/* Express Functionality end */

/* Easily communicate start */
/* Easily communicate end */

/* Make Your Device start */
/* Make Your Device end */

/* How sApp works start */
/* How sApp works end */

/* Simple & Beautiful start */
/* Simple & Beautiful end */

/* Reviews start */
/* Reviews end */

/* Full Power start */
.price-section {
    background-color: var(--secondary-background);
}
.price-section .text-description {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.price-section h2 {
    text-align: center;
}
.container.price-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1200px) {
    .price-section h2 {
        font-size: 36px;
    }
}

@media (min-width: 576px) {
    .price-section h2 {
        font-size: 30px;
    }
}
@media (max-width: 576px) {
    .price-section h2 {
        font-size: 24px;
    }
}
/* Full Power end */

/* FAQ start */
/* FAQ end */

/* Team Experts start */
/* Team Experts end */

/* sApp is available start */
/* sApp is available end */

/* Subscribe to get updates start */
/* Subscribe to get updates end */

/* Stay Tuned start */
/* Stay Tuned end */

/* footer start */
/* footer end */
